*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --main: #282828;
  --hover-bar: #2a5cf6;
  --title: #5c71b2;
  --btn: #fff;
  --bg-body: #fbfbfb;
  --bg-footer: #eee;
  --light: #f5f8ff;
  --light-dark: #525252;
  --blue-linear: linear-gradient(23deg, #2a5cf6 0%, #2a5cf6 0.01%, #7191f4 100%);
  --hover-liner: linear-gradient(80deg, #9e0caa 0%, #242aff 42.32%, #23fbe1 100%);
  --advantages-liner: linear-gradient(327deg, #5877fead 0%, rgba(255, 255, 255, 0) 100%, rgba(255, 255, 255, 0) 100%);
  --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08) inset;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--bg-body);
}

body {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
  color: var(--main);
  font-size: 16px;
  font-weight: 400;
}

input,
button {
  all: unset;
}

a {
  text-decoration: none;
  color: var(--main);
}

h2 {
  color: var(--title);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1px;
  @media (max-width: 991px) {
    font-size: 20px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

h3 {
  font-size: 28px;
  font-weight: 600;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

.btn {
  display: inline-block;
  padding: 10px 24px 10px 16px;
  border-radius: 60px;
  background: var(--blue-linear);
  box-shadow: var(--box-shadow);
  color: var(--btn);
  font-weight: 500;
  letter-spacing: 0.1px;
  z-index: 1;
  position: relative;
  cursor: pointer;
  min-width: 176px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--hover-liner);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
    border-radius: 60px;
  }

  &:hover::before {
    opacity: 1;
  }
  @media (max-width: 991px) {
    font-size: 14px;
    padding: 8px 14px;
    min-width: 150px;
  }

  @media (max-width: 768px) {
    font-size: 10px;
    padding: 6px 12px;
    min-width: 100px;
  }
}

.arrow-btn {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.heart-icon {
  fill: none;
}

#styled-element {
  stroke: red;
}
