.catalog {
  margin-top: 50px;

  &-title {
    display: flex;
    align-items: center;
    gap: 5px;

    & a {
      margin-top: 2px;
      color: #a9a9a9;
      font-size: 18px;
      transition: color 0.3s ease;

      &:hover {
        color: var(--main);
      }
    }
  }

  &-slider {
    position: relative;
    & .slick-list {
      overflow: hidden;

      @media (max-width: 991px) {
        padding: 0 50px 0 0 !important;
      }

      @media (max-width: 768px) {
        padding: 0 20px 0 0 !important;
      }
    }

    & .slick-track {
      display: flex;
      gap: 24px;

      @media (max-width: 768px) {
        gap: 10px;
      }
    }
    & .slick-arrow {
      font-size: 0;
      background-image: url("../img/arrow.svg");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
      padding: 20px;

      &:hover {
        filter: drop-shadow(0px 0px 33px rgba(54, 88, 172, 0.4));
      }
    }

    & .slick-prev {
      display: none !important;
    }

    & .slick-next {
      position: absolute;
      top: 201px;
      right: -15px;
      cursor: pointer;

      @media (max-width: 768px) {
        display: none !important;
      }
    }

    &_slide {
      position: relative;
      margin: 30px 0;
      border-radius: 40px;
      cursor: pointer;
      transition: box-shadow 0.3s ease;
      max-width: 300px !important;

      & img {
        max-width: 100%;
      }

      &:hover {
        box-shadow: 10px -10px 34px 0px rgba(6, 52, 253, 0.12), 0px 10px 33px 0px rgba(0, 252, 222, 0.12),
          -10px 0px 33px 0px rgba(236, 52, 254, 0.12);
        @media (max-width: 991px) {
          box-shadow: 0px 0px 20px 0px rgba(42, 92, 246, 0.3);
        }
      }

      &:hover .slide-info_details {
        max-height: 300px;
      }

      &:hover .slide-info_price-btn {
        display: flex;
      }

      &-status {
        display: none;
        color: var(--hover-bar);
        font-size: 12px;
        padding: 4px;
        border-radius: 32px;
        background-color: var(--light);
        position: absolute;
        top: 16px;
        left: 17px;

        @media (max-width: 768px) {
          display: block;
        }
      }

      &-icon {
        position: absolute;
        top: 16px;
        right: 16px;

        @media (max-width: 768px) {
          width: 30px;
          height: 30px;
        }
      }

      & .slide-info {
        padding: 12px;

        &_details {
          display: block;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease;

          @media (max-width: 991px) {
            max-height: 300px;
          }
          & ul {
            list-style: none;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 7px;
            margin-bottom: 15px;

            & li {
              font-weight: 500;
              padding: 4px 6px;
              background-color: #eee;
              border-radius: 39px;
              transition: 0.3s ease;
              border: 1px solid #eee;

              @media (max-width: 1260px) {
                font-size: 14px;
                padding: 3px 5px;
              }

              @media (max-width: 991px) {
                font-size: 12px;
              }

              @media (max-width: 768px) {
                font-size: 10px;
                padding: 1px 3px;
              }

              &:hover {
                border: 1px solid var(--hover-bar);
                background-color: var(--light);
                color: var(--hover-bar);
              }
            }
          }

          & span {
            display: inline-block;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 8px;

            @media (max-width: 991px) {
              font-size: 14px;
            }
          }
        }

        &_price {
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media (max-width: 1090px) {
            justify-content: center;
          }

          & span,
          &-mobile {
            font-size: 20px;
            font-weight: 500;

            @media (max-width: 1260px) {
              font-size: 18px;
            }
          }

          & span {
            @media (max-width: 1090px) {
              display: none;
            }
          }

          &-mobile {
            display: none;
            margin-bottom: 8px;

            @media (max-width: 1090px) {
              display: block;
            }
          }

          &-btn {
            display: none;
            align-items: center;
            gap: 10px;
            border-radius: 47px;
            background: var(--white, #fff);
            box-shadow: 0px 0px 20px 0px rgba(42, 92, 246, 0.3);
            padding: 10px 16px;
            transition: 0.3s ease;

            @media (max-width: 1260px) {
              width: 130px;
              justify-content: center;
            }

            @media (max-width: 991px) {
              display: flex;
            }

            &:hover {
              background: var(--hover-liner);
            }

            &:hover span {
              color: var(--btn);
            }

            &:hover .catalog-cart-icon {
              stroke: var(--btn);
            }

            & .catalog-cart-icon {
              transition: 0.3s ease;
            }

            & span {
              transition: 0.3s;
              color: var(--hover-bar);
              font-size: 16px;
              font-weight: 500;

              @media (max-width: 1260px) {
                display: none;
              }
            }
          }
        }
      }

      & p {
        font-size: 18px;
        margin-bottom: 12px;

        @media (max-width: 1090px) {
          margin-bottom: 8px;
        }

        @media (max-width: 991px) {
          font-size: 14px;
          font-weight: 500;
        }
        @media (max-width: 768px) {
          font-size: 12px;
        }
      }
    }
  }
}
