.footer {
  background-color: var(--bg-footer);

  &-wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;

    @media (max-width: 991px) {
      flex-direction: column-reverse;
    }
  }

  &-left {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 25px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0;
    }

    &_list {
      @media (max-width: 768px) {
        width: 100%;
      }
      &-title {
        @media (max-width: 768px) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        & span {
          display: inline-block;
          font-size: 18px;
          margin-bottom: 12px;

          @media (max-width: 768px) {
            width: 100%;
            display: block;
            cursor: pointer;
            margin-bottom: 10px;
          }
        }

        & img {
          display: none;

          @media (max-width: 768px) {
            display: block;
            cursor: pointer;
          }
        }
      }

      & ul {
        @media (max-width: 768px) {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease;
        }
        list-style: none;
        & li {
          font-size: 14px;
          opacity: 0.6;
          margin-bottom: 12px;
        }
      }
    }
  }

  &-right {
    width: 300px;

    & span {
      display: inline-block;
      opacity: 0.7;
      margin-bottom: 12px;
    }

    &_form {
      position: relative;
      width: 100%;
      border-radius: 43px;
      background: #fff;
      display: flex;
      align-items: center;
      margin-bottom: 12px;

      &-input {
        padding: 16px 100px 16px 14px;
        &::placeholder {
          font-size: 14px;
          opacity: 0.4;
        }
      }

      &-btn {
        position: absolute;
        top: 5px;
        right: 8px;
      }
    }

    & p {
      font-size: 10px;
      color: #808080;
      letter-spacing: 0.2px;
      margin-bottom: 12px;
    }

    &_contacts {
      list-style: none;
      & li {
        margin-bottom: 12px;
      }
    }

    &_socials {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }

  &-copyright {
    border-top: 1px solid #a9a9a9;
    padding-top: 14px;
    padding-bottom: 14px;

    &_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & span {
      font-size: 14px;
    }

    &_logos {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}

.list-active {
  & img {
    transform: rotate(180deg);
  }
}