.header {
  &-top {
    background-color: var(--light);

    &_wrapper {
      padding: 11.5px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 991px) {
        display: none;
      }
    }

    &_links {
      display: flex;
      align-items: center;
      gap: 40px;
      font-size: 14px;
      letter-spacing: 0.1px;
    }

    &_socials {
      & img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-bottom {
    padding: 14px 0;
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: white;

    @media (max-width: 991px) {
      padding: 0 0 8px 0;
    }

    &_btn {
      max-width: 176px;
      display: flex;
      align-items: center;
      gap: 12px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    &_form {
      display: block;
      width: 100%;
      border-radius: 56px;
      background: var(--blue-linear);
      padding: 3px;
      display: flex;
      align-items: center;

      & .form-input {
        width: 100%;
        padding: 9px 24px;
        background-color: white;
        border-radius: 56px;

        &::placeholder {
          color: #a9a9a9;
        }

        @media (max-width: 991px) {
          &::placeholder {
            font-size: 10px;
          }
          padding: 4px 12px;
          font-size: 12px;
        }
      }

      & .form-btn {
        color: var(--btn);
        cursor: pointer;
        padding: 0 16px;

        @media (max-width: 991px) {
          font-size: 10px;
          font-weight: 600;
        }
      }
    }

    &_bar {
      display: flex;
      align-items: center;
      gap: 15px;
      @media (max-width: 991px) {
        display: none;
      }

      & .bar_item {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3px;
        font-size: 14px;
        transition: color 0.3s ease;

        &:hover {
          color: var(--hover-bar);
        }

        &:hover .header-bottom_bar-icon {
          stroke: var(--hover-bar);
        }
      }

      &-icon {
        transition: 0.3s ease;
      }
    }
  }

  &-slider {
    & .slick-list {
      padding: 0 150px !important;
      overflow: hidden;

      @media (max-width: 1350px) {
        padding: 0 50px !important;
      }

      @media (max-width: 768px) {
        padding: 0 20px !important;
      }
    }
    & .slick-track {
      display: flex;
      justify-content: center;
    }
    & .slick-dots {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      & li {
        list-style: none;
        margin: 0 10px;
      }

      & button {
        font-size: 0;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        opacity: 0.4;
        background: rgba(40, 40, 40, 0.5);
        cursor: pointer;

        @media (max-width: 768px) {
          width: 8px;
          height: 8px;
        }
      }
    }

    & .slick-active {
      & button {
        opacity: 1;
        background: #2a5cf6;
      }
    }
    &_item {
      margin: 16px 20px;
      position: relative;
      height: 356px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
      border-radius: 12px;

      @media (max-width: 768px) {
        height: 250px;
        margin: 10px 5px 0 5px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }

      & .slide-icon-left,
      & .slide-icon-right {
        border-radius: 12px;
        position: absolute;
        top: 0;
      }
      & .slide-icon-tree_1,
      & .slide-icon-tree_2 {
        position: absolute;
        bottom: 0;
      }

      & .slide-icon-tree_1 {
        right: 150px;
        @media (max-width: 1200px) {
          height: 250px;
          right: 80px;
        }
        @media (max-width: 768px) {
          height: 130px;
          right: 25px;
        }
      }
      & .slide-icon-tree_2 {
        right: 310px;

        @media (max-width: 1200px) {
          height: 150px;
          right: 205px;
        }

        @media (max-width: 768px) {
          height: 110px;
          right: 85px;
        }
      }

      & .slide-icon-left {
        left: 0;
        @media (max-width: 991px) {
          height: 100px;
        }

        @media (max-width: 768px) {
          height: 50px;
        }
      }
      & .slide-icon-right {
        right: 0;
        @media (max-width: 991px) {
          height: 120px;
        }

        @media (max-width: 768px) {
          height: 85px;
        }
      }

      & .item-content {
        width: 470px;
        margin-left: 190px;
        margin-top: 40px;

        @media (max-width: 991px) {
          width: 270px;
          margin-left: 100px;
        }

        @media (max-width: 768px) {
          margin-left: 25px;
          margin-top: 25px;
        }

        @media (max-width: 480px) {
          width: 200px;
        }

        & h2 {
          margin-bottom: 16px;
          @media (max-width: 991px) {
            margin-bottom: 10px;
          }

          @media (max-width: 768px) {
            margin-bottom: 5px;
          }
        }

        & ul {
          margin-left: 25px;
          margin-bottom: 16px;
          @media (max-width: 991px) {
            margin-left: 15px;
          }
          & li {
            margin-bottom: 8px;
            @media (max-width: 991px) {
              font-size: 14px;
              margin-bottom: 5px;
            }
            @media (max-width: 768px) {
              font-size: 10px;
              margin-bottom: 3px;
            }
          }
        }
      }
    }
  }
}

.mobile {
  &-header {
    &-top {
      padding-top: 12px;
      padding-bottom: 12px;
      display: none;
      background-color: white;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 991px) {
        display: flex;
      }

      &_menu {
        cursor: pointer;
      }

      &_socials {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
  }

  &-socials_item {
    cursor: pointer;

    &:hover .header-bottom_bar-icon {
      stroke: var(--hover-bar);
    }
  }
}
